---
- name: Install Apache Web Server
  hosts: all
  become: yes

  #  vars:
  #    src_folder: ./mywebsite
  #    dest_folder: /var/www/html

  tasks:
    - name: Print OS Family
      debug:
        var: ansible_os_family

    - block: #====== Block for RedHat ======
        - name: Updating repos for CentOS
          yum:
            update_cache: yes

        - name: Install Apache for RedHat
          yum:
            name: httpd
            state: latest

        - name: Start Apache and enable autoboot (RedHat)
          service:
            name: httpd
            state: started
            enabled: yes

        - name: Open port 80 and restart firewall
          shell: firewall-cmd --permanent --add-service=http && firewall-cmd --reload

      when: ansible_os_family=="RedHat"

    - block: #====== Block for Debian======
        - name: Updating repos for Ubuntu
          apt:
            update_cache: yes

        - name: Install Apache for Ubuntu
          apt:
            name: apache2
            state: latest

        - name: Start Apache and enable autoboot (Ubuntu)
          service:
            name: apache2
            state: started
            enabled: yes

        - name: Installing Unzip for Ubuntu
          apt:
            name: unzip
            state: latest

      when: ansible_os_family=="Debian"

    - name: Downloading my website from github.com
      get_url:
        url: https://github.com/01Yura/My_web_site/archive/refs/heads/main.zip
        dest: /var/www/html/
      notify:
        - Extracting main.zip
        - Copying file .conf to sites-available
        - Deleting file .conf
        - Executing a2ensite
        - Executing a2dissite
        - Restart Apache Centos
        - Restart Apache Debian
        
        

  #    - name: Extracting main.zip
  #      unarchive:
  #        remote_src: yes
  #        src: /var/www/html/My_web_site-main.zip
  #        dest: /var/www/html/

  #    - name: Copying file .conf to sites-available
  #      command: cp /var/www/html/My_web_site-main/my_web_site.conf /etc/apache2/sites-available/

  #    - name: Deleting file .conf
  #      file:
  #        path: /var/www/html/My_web_site-main/my_web_site.conf
  #        state: absent

  #    - name: Deleting file .img
  #      file:
  #        path: /var/www/html/My_web_site-main.zip
  #        state: absent

  #  - name: Executing a2ensite
  #    command: a2ensite my_web_site.conf

  #  - name: Executing a2dissite
  #    command: a2dissite 000-default.conf

  #    - name: Restart Apache Debian
  #      service:
  #        name: apache2
  #        state: restarted
  #      when: ansible_os_family=="Debian"

  #     - name: Copy website
  #       copy: src={{ src_folder }}/{{ item }} dest={{ dest_folder }}
  #       loop:
  #         - "index.html"
  #         - "image.img"
  #       notify:
  #         - Restart Apache Centos
  #         - Restart Apache Debian

  handlers:
    - name: Restart Apache Centos
      service:
        name: httpd
        state: restarted
      when: ansible_os_family=="RedHat"

    - name: Restart Apache Debian
      service:
        name: apache2
        state: restarted
      when: ansible_os_family=="Debian"

    - name: Executing a2ensite
      command: a2ensite my_web_site.conf

    - name: Executing a2dissite
      command: a2dissite 000-default.conf

    - name: Extracting main.zip
      unarchive:
        remote_src: yes
        src: /var/www/html/My_web_site-main.zip
        dest: /var/www/html/

    - name: Copying file .conf to sites-available
      command: cp /var/www/html/My_web_site-main/my_web_site.conf /etc/apache2/sites-available/

    - name: Deleting file .conf
      file:
        path: /var/www/html/My_web_site-main/my_web_site.conf
        state: absent
